* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.size {
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 36px;
	color: tomato;
	z-index: 999;
}

body {
	font-family: 'Open sans', sans-serif;
	background: white;
	overflow-x: hidden;
	font-size: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -10;
}

.line {
	display: block;
	place-self: center;
	width: 60px;
	height: 5px;
	border-radius: 50px;
	background: $primary-color;
	margin: 5px 0 12px;
}

.hor-line {
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	height: 100%;
	width: 1px;
	z-index: -9;
}
.hor-line.left {
	transform: translateX(-425px);
}
.hor-line.right {
	transform: translateX(425px);
}

button {
	font-family: 'Open sans', sans-serif;
	cursor: pointer;
	border: none;
	background: transparent;
}

.button {
	color: white;
	width: 200px;
	height: 60px;
	font-size: 0.75em;
	line-height: 1.667em;
	background: $primary-color;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
}
input,
select {
	border: none;
	background: #e3e3e3;
	border-radius: 5px;
	height: 60px;
	padding: 20px;
	color: #333;
	font-size: 0.875em;
	line-height: 1.667em;
}
input::placeholder {
	color: #8c8c8c;
}

input[type='time']::-webkit-datetime-edit,
input[type='time']::-webkit-datetime-edit-fields-wrapper,
input[type='time']::-webkit-datetime-edit-text,
input[type='time']::-webkit-datetime-edit-month-field,
input[type='time']::-webkit-datetime-edit-day-field,
input[type='time']::-webkit-datetime-edit-year-field,
input[type='date']::-webkit-datetime-edit,
input[type='date']::-webkit-datetime-edit-fields-wrapper,
input[type='date']::-webkit-datetime-edit-text,
input[type='date']::-webkit-datetime-edit-month-field,
input[type='date']::-webkit-datetime-edit-day-field,
input[type='date']::-webkit-datetime-edit-year-field,
input[type='time']::-webkit-inner-spin-button,
input[type='date']::-webkit-inner-spin-button,
input[type='hidden']::-webkit-inner-spin-button,
input[type='time']::-webkit-calendar-picker-indicator,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='hidden']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
	appearance: none;
}
select {
	color: #8c8c8c;
}
textarea {
	font-family: 'Open sans', sans-serif;
	border: none;
	background: #e3e3e3;
	border-radius: 5px;
	height: 60px;
	padding: 20px;
	color: #333;
	font-size: 14px;
	line-height: 20px;
	resize: none;
}
textarea::placeholder {
	color: #8c8c8c;
}
.info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
}
.location,
.mail,
.phone {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(2, max-content);
	gap: 5px;
	font-weight: bold;
	font-size: 0.75em;
	line-height: 1em;
	color: #999;
}

// <=1300
@include max-width(1300px) {
	.hor-line.left {
		transform: translateX(375px);
	}
	.hor-line.right {
		transform: translateX(-375px);
	}
}

// <=800
@include max-width(800px) {
	.hor-line.left {
		transform: translateX(270px);
	}
	.hor-line.right {
		transform: translateX(-270px);
	}
}
