@font-face {
	font-family: 'Banny Bold Round';
	font-style: normal;
	font-weight: normal;
	src: local('Banny Bold Round'), url('../fonts/Banny-BoldRound.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
}
