.book {
	.line {
		margin-bottom: 20px;
	}
	.content {
		margin: 0;
		width: 94%;
		align-self: center;
		justify-self: end;
	}
	input,
	select {
		width: 100%;
	}
	select {
		appearance: none;
		cursor: pointer;
	}
	label {
		position: relative;
		display: flex;
		align-items: center;

		.placeholder {
			position: absolute;
			left: 20px;
			color: #8c8c8c;
		}

		svg {
			position: absolute;
			right: 20px;
			opacity: 0.5;
		}
	}
}
// <=1300
@include max-width(1300px) {
	.book {
		.content {
			width: 100%;
		}
	}
}

// <=1000
@include max-width(1000px) {
	.book {
		.container {
			grid-template-columns: 1fr;
		}
		.section-img-block {
			display: none;
		}
	}
}

// <=500
@include max-width(500px) {
	.book {
		padding-top: 25px;
	}
}
