.book {
	.line {
		margin-bottom: 20px;
	}
	.content {
		margin: 0;
		width: 94%;
		align-self: center;
		justify-self: end;
	}
	input,
	select {
		width: 100%;
	}
	select {
		appearance: none;
		cursor: pointer;
	}
	label {
		position: relative;
		display: flex;
		align-items: center;

		svg {
			position: absolute;
			right: 20px;
			opacity: 0.5;
		}
	}
}
