.first {
	height: 100vh;
	position: relative;
}

main {
	position: relative;
	text-align: center;
	height: calc(100% - 100px);
	color: white;

	.container {
		display: grid;
		grid-template-columns: 1fr min(80%, 850px) 1fr;
		place-items: center;
		position: relative;
	}

	aside {
		color: white;
		height: 100%;
		width: 100%;
	}

	.line {
		margin: 20px 0 30px;
	}

	.left-aside {
		display: grid;
	}

	.la-text {
		writing-mode: vertical-rl;
		transform: rotate(180deg);
	}

	.right-aside {
		display: grid;
		justify-content: flex-end;
		align-items: center;
	}

	.ra-content {
		display: grid;
		row-gap: 20px;
	}

	.icon-wrapper {
		display: grid;
		place-items: center;
		width: 60px;
		height: 60px;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}

	.content {
		display: grid;
		color: white;
		width: 100%;
	}

	.btns {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.button:last-child {
		margin-left: 40px;
		background: transparent;
		border: 2px solid white;
	}

	.hor-line.top {
		align-self: flex-start;
		top: 13%;
		height: calc(77% - 60px) !important;
	}

	.hor-line.bot {
		align-self: flex-end;
		height: 10% !important;
	}

	.next {
		display: grid;
		place-items: center;
		position: absolute;

		align-self: flex-end;
		bottom: 10%;
		width: 60px;
		height: 60px;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 50%;

		div {
			width: 40px;
			height: 40px;
			background: white;
			border-radius: 50%;
			display: grid;
			place-items: center;
		}
	}
}
