.menu {
	.container {
		grid-template-columns: 1fr;
	}

	.content {
		place-items: initial;
	}

	.subtitle {
		width: 50ch;
		justify-self: center;
	}

	.menus {
		display: grid;
	}

	.menus-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;

		width: max-content;
		justify-self: center;
	}

	li {
		display: grid;
		place-items: center;
		width: 120px;
		height: 50px;
		font-size: 0.75em;
		line-height: 1.4em;
		text-transform: uppercase;
		color: #333;
		font-weight: bold;
	}

	li:not(:last-child) {
		border-right: 1px solid #d6d6d6;
	}

	.menus-items {
		display: grid;
		grid-template-columns: repeat(3, max-content);
		grid-template-rows: repeat(7, 1fr);
		justify-content: space-between;
		row-gap: 30px;
	}

	.item {
		display: grid;
		grid-template-columns: max-content max-content;
		column-gap: 15px;
		grid-template-rows: max-content max-content;
	}

	.item-name,
	.item-price {
		font-family: 'Banny Bold Round', sans-serif;
		font-size: 1.125em;
		line-height: 1em;
		color: #333;
	}

	.item-subtitle {
		font-size: 0.75em;
		line-height: 1.5em;
		color: #999;
	}
}
