section {
	display: grid;
	place-items: center;
	position: relative;
	padding: 100px 0;

	.container {
		display: grid;
		column-gap: 5em;
		height: auto;
		grid-template-columns: 1fr 600px;
	}

	.preheading {
		position: absolute;
		align-self: flex-start;
		top: 43px;
	}

	.content {
		display: grid;
		place-items: center;
		align-self: center;
		height: max-content;
	}

	.subtitle {
		font-size: 1.125em;
		line-height: 1.55em;
		font-weight: bold;
		text-align: center;
		margin-bottom: 25px;
	}

	.text {
		font-size: 0.875em;
		line-height: 1.715em;
		text-align: center;
	}

	.postheading {
		position: absolute;
		align-self: flex-end;
		bottom: 43px;
	}
}

// <=1300
@include max-width(1300px) {
	section {
		padding: 80px 0;

		.container {
			column-gap: 4em;
			grid-template-columns: 1fr 1fr;
		}

		.preheading {
			top: 33px;
		}
		.postheading {
			bottom: 33px;
		}
	}
}
