section.alt {
	color: rgba($color: white, $alpha: 0.9);

	.container {
		grid-template-columns: 600px 1fr;

		.section-img {
			justify-self: flex-end;
		}

		.square {
			justify-self: flex-start;
		}
	}
}

// <=1300
@include max-width(1300px) {
	section.alt {
		.container {
			grid-template-columns: 1fr 1fr;
		}

		.square {
			right: 220px;
			left: initial;
		}
	}
}

// <=1000
@include max-width(1000px) {
	section.alt {
		.container {
			grid-template-columns: 1fr;
		}
	}
}

// <=500
@include max-width(500px) {
	section {
		.square {
			right: 150px !important;
		}
	}
}
