.spec {
	.swiper-pagination {
		bottom: 43px !important;
	}
	.swiper-pagination-bullet {
		background: rgba($color: white, $alpha: 0.5) !important;
		opacity: 1 !important;
		width: 10px !important;
		height: 10px !important;
		margin: 0 10px !important;
	}
	.swiper-pagination-bullet-active {
		background: white !important;
	}
}
// <=1300
@include max-width(1300px) {
	.spec {
		.container {
			padding: 0;
			padding-right: 30px;
			place-content: initial;
		}
	}
}
// <=1000
@include max-width(1000px) {
	.spec {
		.container {
			padding: 0;
		}
		.content {
			padding: 0 30px;
		}
	}
}

// <=500
@include max-width(500px) {
	.spec {
		.swiper-pagination {
			bottom: 14px !important;
		}
	}
}
